* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Open Sans';
}

h2 {
    font-size: 2em;
}

body{
    background-color:#333;
}

main{
    margin-top:60px;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items : center;
    min-height : 600px;
}

/* ----------- Barre de navigation (Header) ------------- */
.topbar {
    background-color: #333;
    position:fixed;
    top: 0;
    z-index:10;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-evenly;
    height: 60px;
    width: 100%;
    border-bottom: 3px solid rgb(239, 41, 97);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

#logo-campus {
    width: 75%;
    height: 75%; 
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items:center;
    align-content:space-around;
    padding-inline-start: 0px;
}

.navbar ul li {
    font-weight:bold;
    font-size: 1.3rem;
}

.navbar ul li a {
    text-decoration: none;
    padding: 5px 15px;
    /* background-color: #333; */
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #5f5f5f;
    border-radius: 20px;
}

@media (max-width: 660px) {
    .topbar .logo {
        /* visibility:hidden; */
        display:none;
    }
}

/* ============ CONTENU DE LA PAGE ============ */

.main-content {
    display:flex;
    flex-direction:column;
}


/* ============ FOOTER ============ */
footer{
    position:relative;
    bottom:0px;
}

.footer-wrapper{
    display:flex;
    justify-content:space-evenly;
    color:white;
    padding-bottom: 1.5rem;
}

.footer-wrapper ul{
    list-style: none;
}

.footer-wrapper h4{
    text-transform:uppercase;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.footer-wrapper li a{
    text-decoration: none;
    /* padding: 5px 15px; */
    color: rgb(168, 168, 168);
}

.follow-us-wrapper div a{
    color: rgb(168, 168, 168);
}

@media (max-width: 550px) {
    .footer-wrapper {
        flex-direction:column;
        padding-left:20px;
    }
}